
<!--
	episodio 22/23/24 si aggiunge il routing
	mettia
	episodio 27 il router guard
	creare un auth service
	e creare un authguard
 -->

<a routerLink="/" style="margin-right: 10px;">Home</a>
<a routerLink="contacts" style="margin-right: 10px;">Contacts</a>
<router-outlet></router-outlet>



<!--
	episodio 21
-->

<!-- <p>Ciao benvenuti al {{title | uppercase}}</p>
<p>Oggi che giorno è: {{today | date}}</p>
<p>Oggi che giorno è: {{today | date:'medium'}}</p>
<p>Oggi che giorno è: {{today | date:'d MMM yyyy - h:mm:ss'}}</p>
 i valori dei decimali definiscono quante cifre intere ci stano 1
e quante decimali 1, però il - vicino al numero di decimali definisce
quante massimo ce ne possono stare (quindi massimo 4 cifre decimali)
la stessa cosa si può applicare con il numero di cifre per un numero intero
<p>decimal pipe showcase: {{val | number:'1.1-4'}}</p>
<p>decimal pipe showcase: {{val | percent:'1.0-4'}}</p>
<p>decimal pipe showcase: {{val | currency:'EUR':'code'}}</p> -->




<!--
	episodio 20
 -->

<!-- <h2>Scegli il colore dell'evidenziatore</h2>
<div>
	<input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('red')">Rosso
	<input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('pink')">Rosa
	<input type="radio" name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('purple')">Viola
</div>
 Inseriamo la direttiva nel tag del paragrafo -->
<!-- <p [appHighlight]="colore" defaultColor="blue">ciao sono un paragrafo</p>
 -->

<!--
	Episodio 19
 -->
<!-- <input #inputSaluti value="valore">
<button (click)="onClickTemp"></button>
 -->


<!--
	episodio 18
 -->
 <!-- riceviamo i dati dell'evento grazie alla variabile Output nella classe figlio -->
<!-- <app-prova (mandaDatiEvento)="riceviDatiEvento($event)"></app-prova> -->


<!--
	episodio 17
 -->

<!-- colleghiamo i componenti -->
<!-- <app-prova [data]="persone"></app-prova>
<button (click)="onClick()">Cambia il gioco</button> -->



<!-- Parte commentata usata per le lezioni precedenti
per la precisione l'ultima lezione sarebbe ngClass (guarda documento 'appuntiAngular') -->
<!-- richiamo il metodo sviluppato nel file ts e ne usufruisco -->
<!-- <button mat-raised-button color="primary" (click)="onClick($event)">Testing</button>
<mat-form-field class="example-full-width">
	<mat-label>Favorite food</mat-label>
	<input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>
<p>{{title}}</p> -->
<!-- <ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>
<ng-template #bloccoIf>
	<p>Cacando</p>
</ng-template>
<ng-template #bloccoElse>
	<p>Non sono più visibile</p>
</ng-template> -->

<!-- <ul>
	<li *ngFor="let persona of persone; index as i">
		<span [ngClass]="{'online': persona.isOnline, 'offline': !persona.isOnline}" class="status-indicator"></span>
		{{persona.nome}} - {{persona.cognome}}
	</li>
</ul> -->

<!-- <div [ngSwitch]="numeroSwitch">
	<p *ngSwitchCase="1">uno</p>
	<p *ngSwitchCase="2">due</p>
	<p *ngSwitchCase="3">tre</p>
	<p *ngSwitchCase="4">quattro</p>
	<p *ngSwitchCase="5">cinque</p>
	<p *ngSwitchDefault>default</p>
</div> -->

<!-- NgStyle part -->
<!-- <ul>
	<li *ngFor="let persona of persone; index as i">
		<div class="cerchio" [ngStyle]="{'background': persona.isOnline ? 'green':'red'}"></div>
		{{persona.nome}} - {{persona.cognome}}
	</li>
</ul> -->

<!-- ngClass part -->
<!-- <ul>
	<li *ngFor="let persona of persone; index as i">
		 <div class="cerchio" [ngClass]="{'cerchioOnline': persona.isOnline, 'cerchioOffline': !persona.isOnline}">i</div>
		<div class="cerchio" [ngClass]="persona.isOnline ? 'cerchioOnline':'cerchioOffline'">i</div>
		{{persona.nome}} - {{persona.cognome}}
	</li>
</ul> -->
